
*{

  margin:0; 

  padding:0; 

}

/* ==========================
        BODY
============================= */
body{
background-color: white; height: 90vh; 
  background-image: url(img_banner.jpg); background-size: cover; 
  background-position: 20% 10%; background-blend-mode: multiply;
font-family: 'Karla',"Calibri","Corbel", sans-serif;

}
html{

scroll-behavior: smooth;
box-sizing: border-box;

}
/* ==========================
        NAV - HEADINGS
============================= */
/*Navigation inspiration from codepen, https://codepen.io/EvyatarDa/pen/waKXMd*/

nav{

position: relative;

width: 100%;

background-color: rgba(0, 0, 0, 0.589);

padding-bottom: 0;

}
nav a{

color: #9e9d9b;

text-decoration: none;

font: 100% ;

font-weight: 900;

margin: 0 0 auto 10px;

position: relative;

cursor: pointer;

}

ul{

background: transparent;

text-align: center;

}

ul a{

margin-left: 3px;

margin-right: 3px;

}

li{

height:0;

padding-top: 10px;

display:inline-block;

margin-left: 0.1%;

}
li a:before{

position: absolute;

opacity: 0.5;

height: 80%;

width: 2px;

content: '';

background: #9e9d9b;

transition: all 0.9s;

margin-left: -3px;

margin-right: -3px;

}
li a:hover:before, 

li a:hover:after{

opacity: 1;

height: 2px;

width: 100%;

}
/* ==========================
        BANNER
============================= */
.index_banner{

background-image:linear-gradient(rgba(41, 39, 39, 0.5),rgba(54, 52, 52, 0.5));

padding-top: 15%;

background-size: cover;

background-attachment: fixed;

height: 50vh;

}
/* ==========================
        Arrow Animation
============================= */

/*https://codepen.io/marcelklacan/pen/KpGmVm for animated arrow*/
.arrow{
margin-top: 10%;
}
.arrow svg{
margin: 0 auto 0 auto;
display: block;
animation: arrow 4s both infinite;
}
@keyframes arrow {
0%, 20%, 50%, 80%, 100%{
transform: translateY(0);
}
40%{
transform: translateY(-30px);
}
60%{
transform: translateY(-15px);
}
} 
/* ==========================
        HEADING-TEXT
============================= */

h1{
color: #c4c4c4;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
text-align: center;
margin:0 3% 0 3%;
font-size: 250%;
border: double 10px#cc0055;
}
h2{
padding: 5% 8% 0 10%;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
background-color: white;
color: black;
font-size: 30px;
font-weight: bold;
border-bottom: solid 1px #111111;
text-align: center;
}
h3{
background-color: white;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: black;
font-size: 20px;
font-weight: bold;
border-bottom: solid 1px #111111;
border-top: solid 1px #111111;
text-align: center;
}
/* ==========================
        INTRODUCTION
============================= */
.introduction_container{
background: white;
padding: 5% 2% 5% 2%;
}

.introduction{
padding-top: 0px;
text-align: center;
color: #111111;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}

.introduction img{
padding-top: 0;
box-shadow: 0 0 10px #111111;
height: auto;
width:20%;
}
.introduction p{
text-align: left;
font-size: 100%;
font-weight: 900;
color: #111111;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
padding: 1% 3%;
max-width: 65ch;
margin:0 auto;
}
/* ==========================
        PORTFOLIO
============================= */

.portfolio_container{
background: #111111;
padding: 1% 2% 5% 10%;
}

.portfolio_heading h2{
padding: 5% 8% 0 10%;
background-color: #111111;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: #fffefe;
font-size: 25px;
font-weight: bold;
border-bottom: solid 1px #cc0055;
}

.portfolio_container h3{
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: #cc0055;
font-size: 20px;
font-weight: bold;
text-align: left;
background: #111111;
}
.portfolio_container img{
box-shadow: 0 0 10px #cc00551c;  
height: 31%;
width:61%;
}
.portfolio1{
padding: 5% 2% 2% 5%;
color: white;
}
.portfolio_container .button{
margin-left: 15%;
}
.portfolio2{
padding: 5% 2% 2% 5%;
color: white;
}
.portfolio_container p{
padding-top: 0;
margin-top: 5%;
margin-right: 25%;
font-size: 100%;
max-width: 60ch;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
}

/* ==========================
        BLOGS
============================= */

.blog_container{
background: white;
padding: 5% 2% 5% 2%;
}
.blog_heading h2{
padding: 5% 8% 0 10%;
background-color: white;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: #111111;
font-size: 30px;
font-weight: bold;
border-bottom: solid 1px #111111;
}

.blog_container h3{
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: #111111;
font-size: 20px;
font-weight: bold;
text-align: left;
border-color: white;
margin-left: 22%;
}
.blog_container img{
padding-top: 0;
box-shadow: 0 0 10px #111111;  
height: 40%;
width:45%;
}
.blog_container p{
text-align: left;
margin: 0 17% 0 20%;
max-width: 45ch;
font-size: 100%;
font-weight: 500;
color: #111111;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
}
/* ==========================
        Blog-1
============================= */
.blog1{
text-align: center;
color: #cc0055;
padding-top:20px;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}
.blog_container .button{
margin-left: 15%;
}
/* ==========================
        Blog-2
============================= */
.blog2{
text-align: center;
color: #cc0055;
padding-top:20px;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}
/* ==========================
        Blog-3
============================= */
.blog3{
text-align: center;
color: #cc0055;
padding-top:20px;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}
/* ==========================
        CONTACT FORM
============================= */
.form_heading h2{
padding: 5% 8% 0 8%;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
background-size: cover;
background-attachment: fixed;
color: #cc0055;
font-size: 30px;
font-weight: bold ;
border-bottom: solid 1px #cc0055;
}
form{
padding: 3% 0 2% 0;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
background-size: cover;
background-attachment: fixed;
}
input{
display: inline-block;
background-color: #333;
border-radius: 0.2em;
width: 70%;
margin: 1% 5% 1% 15%;
font-size: 1em;
font-weight: bold;
color: white;
transition: background-color 0.2s ease;
border: solid #cc0055 1px;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
}

textarea{
display: inline-block;
background-color: #333;
border: solid #cc0055 1px;
font-family: 'Karla',"Calibri","Corbel", sans-serif;
border-radius: 0.2em;
font-size: 1em;
font-weight: bold;
color: white;
margin: 2% 5% 0 15% ;
width: 70%;
transition: background-color 0.2s ease;
}

/* ==========================
          FOOTER
============================= */
footer{
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
color: #cc0055;
background: #111111;
padding: 1% 2% 2% 0;
font-size: 18px;
}

footer svg:hover{
opacity: 0.3;
transition: 0.3s;
cursor: pointer;
}
.link{
margin-left: 50%;
}
footer p{
margin-left: 12%;
}

/* ==========================
        BUTTONS
============================= */
.button{
 font-family: 'Karla',"Calibri","Corbel", sans-serif;
display: inline-block;
border-radius: 100px;
background-color:transparent;
border: solid 2px #cc0055;
color: #cc0055;
text-align: center;
padding: 10px;
width: 140px;
transition: all 0.5s;
cursor: pointer;
margin: 1% 3% 1% 3%;
}

.button a{
cursor: pointer;
font-size: 18px;
display: inline-block;
position: relative;
transition: 0.6s;
color: #df045f;
text-decoration: none;
}

/*once hovered the arrows point to a certain direction*/
.button a:after{
content: '\00bb';
position: absolute;
opacity: 0;
top:0;
transition: 0.5s;
}
.button:hover a{
padding-right: 25px;
}
.button:hover a:after{
opacity: 2;
right: 0;
}
/* ==========================
        FORM BUTTON
============================= */
button[type="submit"]{
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
font-weight: 900;
display: inline-block;
border-radius: 100px;
background-color:#e7d00296;
border: solid 1px #cc0055;
color: #cc0055;
text-align: center;
font-size: 16px;
padding: 10px;
width: 110px;
transition: all 0.5s;
cursor: pointer;
margin: 2% 20% 1% 40%;
}
button[type="submit"] span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

button[type="submit"] span:after{
content: '\00bb';
position: absolute;
opacity: 0;
top:0;
right: 20px;
transition: 0.5s;
}

button[type="submit"]:hover span{
padding-right: 25px;
}
button[type="submit"]:hover span:after{
opacity: 1;
right: 0;
}

@media screen and (min-width: 700px){
.portfolios .button{
  margin-left: 25%;
}

.experience .button{
  margin-left:42%;
}

button[type="submit"]{
  margin-left: 42%;
}

ul a{
  margin-left: 40px;
  margin-right: 40px;
}
}
                                         
                                          /* ==========================
                                                       MEDIA
                                                      SCREEN
                                          ============================= */
                        
@media screen and (min-width: 800px) {

*{
margin:0; 
padding:0; 
}
/*Navigation/ Headings*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Navigation - Heading
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav{
position: fixed;
width: 100%;
background-color: rgba(0, 0, 0, 0.438);
padding-bottom: 0;
}
nav a{
color: #cc0055;
text-decoration: none;
font: 100%;
padding:  0 5%;
}
ul a{
margin-left: 40px;
margin-right: 40px;
}
/* Border from Y to X  */
li{
padding-bottom: 30px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
           Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.index_banner{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(img/banner1.jpg);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
        Arrow Animation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.arrow{
margin-top: 15%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
        Heading - Text
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1{
margin:0 32% 0 32%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
            Intro
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.introduction{
padding-left: 10px;
padding-right: 10px;
margin:0;
width: 98%;
}
.introduction img{
height: 220px;
  border-radius: 50%;
width:253px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
        Portfolio
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.portfolio_container{
display:grid;  
margin: 0;
grid-template-columns: repeat(2, 6fr);
grid-template-rows:700px ;
grid-gap: 5px;
padding:0;
}
.portfolio_container img{
height: 250px;
width:250px;
}
.portfolio1{
grid-row: 1;
grid-column: 1;
padding:0;
margin-left: 33%;
margin-top: 5%;
}
.portfolio_container .button{
align-content: center;
}
.portfolio2{
grid-row: 1;
grid-column: 2;
padding:0;
margin-left: 20%;
margin-top: 5%;
}
.portfolio_container p{
max-width: 32ch;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
        Experience
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
        BLOGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog_container{
display:grid;  
margin: 0 auto;
padding-top: 15px;
grid-template-columns: repeat(2, 6fr);
grid-template-rows:720px 20px;
grid-gap: 5px;
}
.blog_container img{
height: 300px;
width:300px;
}
.blog_container p{
padding-top: 8px;
padding-bottom: 0;
margin-left: 23%;
margin-right: 20%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Blog 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog1{
padding-top:5%;
margin-left: 6%;
width:90%;
grid-row: 1;
grid-column: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Blog 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog2{
padding-top:5%;
margin-left: 5%;
width:90%;
grid-row: 1;
grid-column: 2;
}
.blog2 .button{
margin-top: 5%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Blog 3
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.blog3{
margin: 2% 2% 0 2%;
padding-top:1%;
width:96%;
grid-row: 2;
grid-column: 1 /span 2;
}
.blog3 img{
margin-top: 1%;
box-shadow: 0 0 10px #111111;
height: 300px;
widows: 1px;
}
.blog3 p{
margin-left:27.5%;
margin-right: 27%;
}
.blog3 h3{
margin-left: 28%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Contact form
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form{
background-image:linear-gradient(rgba(236, 229, 229, 0.555),rgba(111, 126, 25, 0.61),rgba(226, 101, 138, 0.5));
}
.form_heading h2{
padding: 5% 8% 0 7%;
}
input{
width: 40%;
margin: 1% 5% 1% 30%;
padding-left: 20px;
}
textarea{
margin: 2% 5% 0 30% ;
padding-left: 20px;
width: 40%;
}
/*footer*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer p{
  margin-left: 40%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  button[type="submit"]{
  margin: 2% 20% 1% 45%;
  }


/* thi is the code for CV Page*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
          CV - Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Digital CV code inspired by https://codepen.io/rljaiswal/pen/axJZxJ*/

.cv_main{
  padding: 40px;
  background-color :#fff;
}

.cv_main h2{
  padding: 3% 0% 0 0%;
  background-position: center;
  background-size: cover;
  background-color: #333;
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
  color: #fcf6f8;
  font-size: 20px;
  border-bottom: solid 1.5px #cc0055;
  }
header{
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(to left bottom, #333,#000 80%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
}
header a{
  color: #fff;
}
header>.cvImage{
  display: block;
  max-width: 144px;
  border-radius: 50%;
  margin-right: -20px;
  
}
header>.cvh1{
  font-size: 2rem;
  font-family: 'Karla',"Calibri","Corbel", sans-serif;
  margin-bottom: 10px;
}
header>.cvh2{
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 10px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 20px; 
  margin-bottom: -2%;
}
.summary p{
  padding-left: 20px;
  margin: 2% 9% 2% 9%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
}
.contactInfo, .education, .skills{
  padding-left: 20px;
}
.info{
  display: flex;
}
.info .infoLabel,.info .labelValue{
  width: 20%;
}
.info .infoLabel{
  font-size: 16px;
  font-weight: 600;
}
.skillWrapper{
  width: 0%;
}
.skillWrapper>span{
  padding: 10px;
  display: inline-block;
  position: relative;
}
.skillWrapper>span::before, .skillWrapper>span::after{
  content: '';
  position: absolute;
}
.skillWrapper>span::before{
  width: 10px;
  height: 10px;
  border: 3px double #ccc;
  border-radius: 50%;
  left: -15px;
  top: 15px;
}
/* ==========================
          EXPeRIANCE
============================= */
.experience{
 
margin: 2% 0% 1% 0%;
}
  .experience_container {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  }
 
  .experience_container h4{
    margin: 0 5% 0 30%;
    padding-bottom: 10px;
    font-weight: 800;
  }
    .experience_container img{
    height: 200px;
    width: 300px;
    margin: 0 0 0 39%;
    }
    .experience_container p{
    margin: 0 20% 0 30%;
    }
/* ==========================
          WORK HISTORY
============================= */
.work_history{
 
  margin: 2% 0% 1% 0%;
    background-position: ;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
     }
    .work_history p{
      margin: 0 20% 0 30%;
      }
      
  .work_history h4{
    margin: 1% 5% 0 30%;
    padding-bottom: 10px;
    font-weight: 800;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~
      MEDIA SCREEN FOR CV
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 800px) {

  *{
  margin:0; 
  padding:0; 
  }

.header{
  padding-left: 10px;
  padding-right: 10px;
  margin:0;
  width: 98%;
  }
  header>.cvImage{
  height: 120px;
    border-radius: 50%;
  width:253px;
  }